@model EnrollmentApplication.Models.Student

<div class="panel panel-primary">
	<div class="panel-body">
		<div id="student-details">
			<p>
				<em>Student:</em>
				@Model.FirstName
				@Model.LastName
			</p>
		</div>
	</div>
</div>
